[submodule "tools/llvm"]
	path = tools/llvm
	url = http://llvm.org/git/llvm.git
[submodule "tools/clang"]
	path = tools/clang
	url = http://llvm.org/git/clang.git
[submodule "tools/ninja"]
	path = tools/ninja
	url = https://github.com/martine/ninja.git
[submodule "tools/dylibbundler"]
	path = tools/dylibbundler
	url = https://github.com/IngwiePhoenix/dylibbundler.git
